@font-face {
    font-family: "MorfinSans";
    src: url(fonts/MorfinSans-Regular.ttf);
}

@font-face {
    font-family: "Metamorphous";
    src: url(fonts/Metamorphous-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #FCF9F4;
    background-color: #A43D3E;
}

body {
    background-color: #322E2B;
    color: #FCF9F4;
    font-size: 16px;
}

header {
    position: relative;
    height: 100vh;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/header-pic.webp);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

.header-panel {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    padding: 3vh 2vw;
}

.page-navigation {
    width: 18%;
}

.page-navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.page-navigation a {
    text-decoration: none;
    color: white;
    font-family: "MorfinSans";
    font-size: clamp(1.5rem, 3.5vw, 2rem);
    transition: color 250ms;
}

.page-navigation a:hover {
    color: #A43D3E;
}

.red {
    color: #A43D3E;
}

.socials {
    color: white;
    font-family: "MorfinSans";
    font-size: 2rem;
}

.socials ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    list-style: none;
}

.socials ul li {
    margin-top: 1vh;
}

.logo {
    position: absolute;
    bottom: 0.7em;
    left: 0.7em;
    color: white;
    font-family: "MorfinSans";
    font-size: clamp(1rem, 3.5vw, 3rem);
    width: 90%;
    letter-spacing:0.75rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    background-color: #A43D3E;
    border: none;
    border-radius: 50px;
    font-family: "MorfinSans";
    color: white;
    font-size: clamp(1.4rem, 3.5vw, 28px);
    padding: 20px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    transition: background-color 250ms;
}

.btn:hover {
    background-color: #e23f42;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    font-family: "Metamorphous";
    background-color: #FCF9F4;
    color: black;
}

.about-section > div {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 24px;
}

.about-section-heading {
    width: 37%;
    letter-spacing: 0.1rem;
    overflow: hidden;
}

h2, h3, h4, h5 {
    font-size: 4rem;
    padding: 2vw 3vw;
    font-family: "MorfinSans";
}

.about-heading-photo {
    height: 55vh;
    background-image: url("images/about1.webp");
    background-position: center;
    background-size: cover;
}

.abt-sec-num {
    font-family: "MorfinSans";
    margin-bottom: 1em;
}

.about-section-text-conteiner-1 {
    width: 63%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6vh;
}

.about-section-text-conteiner-1 p:nth-child(2) {
    width: 67%;
    margin-bottom: 2em;
}

.about-section-text-conteiner-1 p:nth-child(3) {
    text-align: end;
    align-self: last baseline;
    width: 50%;
}

.about-section-text-conteiner-2 {
    width: 30%;
    padding: 6vh;
}

.about-section-text-conteiner-3 {
    width: 30%;
    padding: 6vh;
    padding-bottom: 17vh;
}

.about-section-end-pic {
    width: 40%;
    background-image: url(images/about2.webp);
    background-size: cover;
    background-position: center;
}

.open-call-section {
    display: flex;
    background-color: #FCF9F4;
    color: black;
    background-image: url(images/open-call.webp);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.open-call-heading {
    width: 40%;
}

.open-call-text-conteiner {
    width: 60%;
    margin: 10vh 0 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    font-family: "Metamorphous";
    padding-right: 10vw;
}

.open-call-text-conteiner .btn {
    margin: 7vh 0;
}

.open-call-text-conteiner ul {
    list-style-type: none;
}

.open-call-text-conteiner ul li {
    margin-top: 1em;
}

.open-call-text-conteiner ul li::before {
    content: "//";
    color: #A43D3E;
    font-size: 1.2em;
}

.films {
    text-align: center;
}

.films-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3vw;
}

.films-heading p {
    font-size: 2em;
    font-family: "MorfinSans";
}

.films-list-item {
    list-style: none;
    display: flex;
    margin: 5vh auto;
    width: 95vw;
}

.film-image-conteiner {
    background-color: #FCF9F4;
    width: 500px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.films-list-text {
    text-align: start;
    float: inline-start;
    display: block;
    width: 100%;
    padding-right: 3vw;
    margin-top: 0.4em;
    margin-left: 5vw;
    font-family: "Metamorphous";
    font-size: 1.5em;
}

.films button {
    margin: 10vh 0;
}

.members-cards-conteiner {
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 3vw;
    padding: 0 3vw;
    place-items: center;
    margin-bottom: 3vw;
}

.member-card {
    width: 100%;
}

.prev, .next {
    display: none;
}

footer {
    position: relative;
    border-top: 1px solid #FCF9F4;
    display: flex;
}

footer div {
    width: 50%;
}

.look-for-anons {
    font-size: 4em;
    font-family: "MorfinSans";
    width: 85%;
    margin: 10vh auto 0;
}

.look-for-anons p:last-of-type {
    float: inline-end;
}

.look-for-anons-conteiner ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 20vh auto 0;
    width: 80%;
}

.ask-question-conteiner {
    position: relative;
    font-size: 2.5em;
    font-family: "MorfinSans";
}

.ask-question-conteiner p:first-of-type {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.rights {
    position: absolute;
    font-size: 1.5em;
    bottom: 3vh;
    right: 3vw;
}

@media screen and (max-width: 1024px) {
    .header-panel {
        justify-content: right;
    }

    .header-panel::before {
        content: "///";
        color: #FCF9F4;
        position: absolute;
        font-weight: 900;
        top: 2vh;
        left: 5vw;
        font-size: 3rem;
    }
    
    .page-navigation ul {
        display: flex;
        flex-direction: column;
    }
    
    .socials {
        display: none;
    }

    .btn {
        padding: 20px;
    }

    .about-heading-photo {
        height: 450px;
    }

    .about-section-text-conteiner-2 {
        padding: 5vh 2vw;
    }

    .about-section-text-conteiner-3 {
        padding: 5vh 3vw;
    }

    .open-call-section {
        flex-direction: column;
    }

    .open-call-text-conteiner {
        font-size: 1.8rem;
        margin-top: 240px;
        margin-left: 5vw;
        width: 37%;
        padding-right: 0;
    }

    .open-call-text-conteiner .btn {
        margin-top: 130px;
        margin-bottom: 0;
        font-size: 2rem;
        padding: 20px;
        width: 400px;
    }

    .open-call-text-conteiner p:nth-child(n + 3) {
        display: none;
    }

    .open-call-text-conteiner ul {
        display: none;
    }

    .members-cards-conteiner {
        grid: repeat(3, 1fr) / repeat(2, 1fr);
    }

    .films button {
        margin-top: 3vh;
        margin-bottom: 5vh;
        font-size: 2rem;
        padding: 20px;
        width: 400px;
    }

    .look-for-anons {
        font-size: 3rem;
        margin: 5vh auto 0;
    }

    .look-for-anons-conteiner ul {
        margin: 10vh auto 0;
    }

    .ask-question-conteiner {
        font-size: 2rem;
    }
}

@media screen and (max-width: 890px) {
    .about-section > div {
        font-size: 1.3rem;
    }

    .open-call-text-conteiner {
        font-size: 1.6rem;
        width: 300px;
        margin-top: 20vh;
    }

    .films-list-item {
        flex-direction: column;
        align-items: center;
    }

    .film-image-conteiner {
        width: 360px;
    }
    
    footer {
        flex-direction: column-reverse;
    }

    footer div {
        width: 100%;
    }

    .look-for-anons {
        font-size: 3em;
        line-height: 1.5em;
        margin: 15vh auto 0;
        width: 60vw;
    }

    .look-for-anons-conteiner ul {
        gap: 0;
        margin: 12vh auto 15vh;
    }

    .footer-diagonal-devider {
        display: none;
    }

    .ask-question-conteiner p {
        font-size: 1em;
        margin-top: 2em;
    }

    .rights {
        position: absolute;
        bottom: 2vh;
        right: 5vw;
    }
}


@media screen and (max-width: 550px) {
    .btn {
        padding: 15px;
        width: 230px;
    }

    .header-panel::before {
        font-size: 1.5rem;
    }

    .about-section {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .about-section div {
        width: 100%;
        border-right: none;
    }

    .about-section-text-conteiner-1 {
        padding: 3vh;
    }

    .about-section-text-conteiner-2, .about-section-text-conteiner-3 {
        padding: 10vh 6vh;
    }

    h2, h3, h4, h5 {
        font-size: 2.5rem;
        padding: 2vw 3vw;
        font-family: "MorfinSans";
    }

    .open-call-section {
        height: auto;
        background-size: cover;
        background-position: right;
    }
    
    .open-call-heading {
        width: 100%;
    }

    .open-call-text-conteiner {
        margin: 22vh 7vw 0;
        font-size: 1.2em;
        width: 73%;
    }

    .open-call-text-conteiner .btn {
        margin: 5em 0 2em;
        width: 200px;
        font-size: 1em;
    }

    .films-heading {
        flex-direction: column;
        padding-top: 3vh;
        padding-left: 2vw;
    }

    .film-image-conteiner {
        width: 348px;
    }

    .films button {
        font-size: 1.2rem;
        padding: 20px;
        width: 200px;
        margin: 5vh 0;
    }

    .members-cards-conteiner {
        display: flex;
        position: relative;
    }

    .prev, .next {
        display: block;
        position: absolute;
        top: 0;
        color: #A43D3E;
        background: none;
        border: none;
        font-size: 2em;
        height: 100%;
    }

    .prev {
        left: 0;
        padding-left: 5%;
    }

    .next {
        right: 0;
        padding-right: 5%;
    }
    
    .next:hover .prev:hover {
        background-color: rgba(0,0,0,0.7);
    }

    .look-for-anons {
        font-size: 2.3em;
        margin: 23vh auto 0;
    }

    .ask-question-conteiner {
        font-size: 2em;
    }
}